body {
    margin: 0 auto;
    font-family: "Helveitca Neue", helvetica, clean, sans-serif;
}
ul, li {
    margin: 0;
    padding: 0;
    display: block;
}

.master {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
    header {
        width: 100%;
        top: 0px;
        left: 0px;
        background: black;
        color: white;
        z-index: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-flex: 0;
        height: 8.4em;
    }
        .brand {
            -webkit-box-flex: 1;
            height: 2.2em;
            font-size: 1.6em;
            font-weight: bold;
            padding: .75em;
        }
        .verticals {
            display: block;
            -webkit-box-flex: 1;
            background: lightgray;
            width: 100%;
            text-align: center;
        }
            .verticals li {
                color: black;
                display: inline-block;
                height: 2.2em;
                font-size: 1.6em;
                padding: .75em 1.5em .75em 1.5em;
            }
    .main {
        display: block;
        -webkit-box-flex: 1;
        overflow: hidden;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
        .scrolling.vertical {
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-box-flex: 1;            
        }
    .drawer {
        position: absolute;
        top: 0px;
        background: darkgray;
        color: white;
        display: inline-block;
        width: 15em;
        border-right: 2em solid gray;
        height: 100%;
        -webkit-transition: -webkit-transform ease-out .25s;
    }
        .drawer-closed .drawer {
            -webkit-transform: translate3d(-15em,0,0);
        }
        .drawer li {
            padding: 1em;
            padding-left: 1.5em;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid gray;
            font-size: 1.6em;
        }
            .drawer li:first-child {
                border-top: 0;
            }
    
    #web {
        width: 52.4em;
        margin: 0 auto 0 15em;
    }
        #web .res {
            font-size: 1.8em;
        }
